{% extends "base.html" %}
{% block content %}
<h1>Add a Recipe</h1>
<form method="POST">
    {{ form.hidden_tag() }}
<p>
{{ form.title.label }}<br>
{{ form.title() }}
 </p>
 <p>
{{ form.category_id.label }}<br>
{{ form.category_id() }}
 </p>
 <p>
{{ form.ingredients.label }}<br>
{{ form.ingredients() }}
 </p>
 <p>
{{ form.instructions.label }}<br>
{{ form.instructions() }}
 </p>
 <p>
{{ form.image_url.label }}<br>
{{ form.image_url() }}
 </p>
 <p>
{{ form.submit() }}
 </p>
</form>

{% endblock %}