{%- extends "base.html" -%}
{% block content %}
<h1>Admin Panel
</h1>
<table class="admin-table">
<tr>
    <th>Statistic</th>
    <th>Count</th>
</tr>
<tr>
    <td>Users</td>
    <td>{{ user_count }}</td>
</tr>
<tr>
    <td>Recipes</td>
    <td>{{ recipe_count }}</td>
</tr>
<tr>
    <td>Categories</td>
    <td>{{ category_count }}</td>
</tr>
<tr>
    <td>Favorites</td>
    <td>{{ favorite_count }}</td>
</tr>
<tr>
    <td>Comments</td>
    <td>{{ comment_count }}</td>
</tr>
</table>
{% endblock %}