<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>The Kitchen Collective</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>

        {% if current_user.is_authenticated %}
         <a href="{{ url_for('recipes') }}">Recipes</a>
        <a href="{{ url_for('add_recipe') }}">Add Recipe</a>
        <a href="{{ url_for('favorites') }}">Favorites</a>
         <a href="{{ url_for('logout') }}">Logout</a>
         {% else %}
          <a href="{{ url_for('register') }}">Register</a>
         <a href="{{ url_for('login') }}">Login</a>
         {% endif %}
          <a href="{{  url_for('admin')  }}"class="stats-button">📈Stats</a>
        <a href="{{ url_for('contact') }}"class="contact-button">☎ Contact</a>
        
    </nav>


{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
     {% for category, message in messages %}
        <div class="flash-message flash-{{ category }}">{{ message }}</div>
     {% endfor %}

    {% endif %}
{% endwith %}

     
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <footer>
        <p>
            The Kitchen Collective © 2026. All rights reserved. | Database Project
        </p>
    </footer>
</body>




</html>