{% extends "base.html" %}

{% block content %}

<div class="hero">
<h1>The Kitchen Collective</h1>

<h3>
    Discover, cook and share recipes together.
</h3>

<p>
    Browse recipes from the community, save your favourites, and share your own culinary creations. Whether you're a seasoned chef or just starting out, The Kitchen Collective is your go-to place for delicious inspiration and connection with fellow food lovers.   
</p>

<p>
    <a href="{{ url_for('recipes') }}" class="hero-button">Explore Recipes</a>

</p>
</div>
{% endblock %}