{%- extends "base.html" -%}

{%- block content -%}
    <h1>{{ recipe.title }}</h1>
    <p><strong>Category:</strong> {{ recipe.category.name }}</p>
    <p><strong>Ingredients:</strong><br>{{ recipe.ingredients }}</p>
    <p><strong>Instructions:</strong><br>{{ recipe.instructions }}</p>

    {% if recipe.image_url %}
        <img src="{{ recipe.image_url }}" alt="{{ recipe.title }}" width="300">
    {% endif %}

    <hr>
    <h3>
        Comments
    </h3>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.message.label }} <br> {{ form.message(rows=4) }}
        </p>
        {{ form.submit() }}
    </form>

    <p>
        <a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}">Delete Recipe</a>
    </p>
    <p>
        <a href="{{ url_for('recipes') }}">Back to All Recipes</a>
    </p>




{% endblock %}