{%- extends "base.html" -%}

{%- block content -%}
    <h1>{{ recipe.title }}</h1>
     {% if recipe.image_url %}
        <img src="{{ recipe.image_url }}" alt="{{ recipe.title }}" class="detail-image">
    {% endif %}

    <div class="recipe-meta">
        <p><strong>Created by:</strong> {{ recipe.author.username }}</p>
        <p><strong>Category:</strong> {{ recipe.category.name }}</p>
    </div>

    <p><strong>Ingredients:</strong></p>
        <ul>
            {% for ingredient in recipe.ingredients.split('\n') %}
            {% if ingredient.strip() %}
            <li>{{ ingredient }}</li>
            {% endif %}
            {% endfor %}
        </ul>
    <p><strong>Instructions:</strong></p>
        <ol>
            {% for step in recipe.instructions.split('\n') %}
            {% if step.strip() %}
            <li>{{ step }}</li>
            {% endif %}
            {% endfor %}
        </ol>

<form action="{{ url_for('favorite_recipe', recipe_id=recipe.id) }}" method="POST">
    <button type="submit">Add to Favorites</button>
</form>

    <hr>
    <h3>
        Comments
    </h3>

    {% for comment in recipe.comments %}
            <p><strong>{{ comment.author.username }}:</strong></p>
            <p> {{ comment.message }}</p>
            <hr>
            {% else %}
            <p>No comments yet. Be the first to comment!</p>
       
    {% endfor %}
    <h4>Add a Comment</h4>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.message.label }} <br> {{ form.message(id="comment-box",rows=4, maxlength="200") }}
        </p>
        <p>Characters remaining: <span id="char-count">200</span></p>
        {{ form.submit() }}
    </form>
    {% if current_user.is_authenticated and recipe.author == current_user %}

    <p><a href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}">Edit Recipe</a> | 
        <a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" onclick="return confirmDelete();">Delete Recipe</a>
    </p>
    {% endif %}
    <p>
        <a href="{{ url_for('recipes') }}">Back to All Recipes</a>
    </p>




{% endblock %}